[submodule "system"]
	path = system
	url = https://github.com/johnko-chef/system.git
[submodule "motd-tail"]
	path = motd-tail
	url = https://github.com/johnko-chef/motd-tail.git
[submodule "motd"]
	path = motd
	url = https://github.com/johnko-chef/motd.git
[submodule "resolver"]
	path = resolver
	url = https://github.com/johnko-chef/resolver.git
[submodule "openssh"]
	path = openssh
	url = https://github.com/johnko-chef/openssh.git
[submodule "iptables"]
	path = iptables
	url = https://github.com/johnko-chef/iptables.git
[submodule "sysrc"]
	path = sysrc
	url = https://github.com/johnko-chef/sysrc.git
[submodule "svc"]
	path = svc
	url = https://github.com/johnko-chef/svc.git
[submodule "postfix"]
	path = postfix
	url = https://github.com/johnko-chef/postfix.git
[submodule "postfix-config"]
	path = postfix-config
	url = https://github.com/johnko-chef/postfix-config.git
[submodule "dbmail-config"]
	path = dbmail-config
	url = https://github.com/johnko-chef/dbmail-config.git
[submodule "dbmail"]
	path = dbmail
	url = https://github.com/johnko-chef/dbmail.git
[submodule "openssh-config"]
	path = openssh-config
	url = https://github.com/johnko-chef/openssh-config.git
