[submodule "system"]
	path = system
	url = https://github.com/johnko-chef/system.git
[submodule "motd-tail"]
	path = motd-tail
	url = https://github.com/johnko-chef/motd-tail.git
[submodule "motd"]
	path = motd
	url = https://github.com/johnko-chef/motd.git
[submodule "resolver"]
	path = resolver
	url = https://github.com/johnko-chef/resolver.git
[submodule "sysrc"]
	path = sysrc
	url = https://github.com/johnko-chef/sysrc.git
