[submodule "system"]
	path = system
	url = https://github.com/johnko-chef/system.git
[submodule "motd-tail"]
	path = motd-tail
	url = https://github.com/johnko-chef/motd-tail.git
[submodule "motd"]
	path = motd
	url = https://github.com/johnko-chef/motd.git
[submodule "resolver"]
	path = resolver
	url = https://github.com/johnko-chef/resolver.git
[submodule "openssh"]
	path = openssh
	url = https://github.com/johnko-chef/openssh.git
[submodule "iptables"]
	path = iptables
	url = https://github.com/johnko-chef/iptables.git
[submodule "sshd-config"]
	path = sshd-config
	url = https://github.com/johnko-chef/sshd-config.git
